---
import { markdownify } from "@lib/utils/textConverter";
import config from "@config/config.json";
import { categories } from "@lib/strapi";
import { nativePosts } from "@lib/strapi";
import type { Post } from "@interf/post";
const latestPosts = nativePosts.slice(5, 8);
---

<footer
  class="w-full bg-[#fff] lg:pt-[90px] md:pt-[60px] pt-[40px] border-t-[1px] border-[#EBF1F8]"
>
  <div class="container">
    <div class="grid md:grid-cols-3 grid-cols-1 gap-[40px]">
      <div class="w-full">
        <h4 class="text-[14px] text-[#000] uppercase tracking-wider">
          About Meddiah
        </h4>
        <img
          src="/images/ftr-pic.webp"
          alt="ftr pic"
          class="my-[20px] w-full"
        />
        <strong class="text-[#5D738D] text-[14px]">Meddiah.com</strong>
        <p class="my-[30px] text-[#5D738D] text-[14px]">
          New sort of Meddiah. We post fun and short articles for your everyday
          entertainment. Got tips? Contact us 🙂
        </p>
        <p
          class="text-[#5D738D] text-[14px] my-[20px]"
          set:html={markdownify(config.params.copyright)}
        />
      </div>
      <div class="w-full">
        <h4 class="text-[14px] text-[#000] uppercase tracking-wider">Latest</h4>
        <ol>
          {
            latestPosts.map((post: Post, i: number) => (
              <li class="py-[20px] border-b-[1px] border-[#EBF1F8]">
                <a
                  class="text-[14px] text-[#5D738D] font-[600] flex items-center gap-[10px] hover:text-[#DB3334] ease-in-out duration-[.5s]"
                  href={`/${post.slug}/`}
                >
                  <i class="text-[#DB3334] text-[14px] font-bold">{i + 1}. </i>
                  <span class="w-full">{post.title}</span>
                  <img
                    src={
                      post.imageSmallUrl
                        ? post.imageSmallUrl
                        : post.imageMediumUrl || "/images/placeholder.png"
                    }
                    class="w-[60px]"
                  />
                </a>
              </li>
            ))
          }
        </ol>
      </div>
      <div class="w-full">
        <h4 class="text-[14px] text-[#000] uppercase tracking-wider">
          Categories
        </h4>
        <ul class="text-start py-[20px] flex flex-col gap-[5px]">
          {
            categories.map((category) => (
              <li>
                <a
                  href={`/categories/${category.attributes.slug}/`}
                  class="text-[14px] text-[#5D738D] capitalize"
                >
                  {category.attributes.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="w-full pt-[10px] border-t-[1px] border-[#EBF1F8]">
      <ul class="flex gap-[10px] flex-wrap mb-0">
        <li>
          <a class="text-[14px] text-[#5D738D]" href="/legal/terms-of-use/"
            >Terms of Service</a
          >
        </li>
        <li>
          <a class="text-[14px] text-[#5D738D]" href="/legal/dmca-policy/"
            >DMCA Policy</a
          >
        </li>
        <li>
          <a class="text-[14px] text-[#5D738D]" href="/legal/privacy-policy/"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a class="text-[14px] text-[#5D738D]" href="/legal/cookie-policy/"
            >Cookie Policy</a
          >
        </li>
        <li>
          <a class="text-[14px] text-[#5D738D]" href="/legal/advertise-with-us/"
            >Advetise With Us</a
          >
        </li>
        <li>
          <a class="text-[14px] text-[#5D738D]" href="/contact/">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
