---
import Base from "@layouts/Base.astro";
import type { Post } from "@interf/post";
import { nativePosts } from "@lib/strapi";
import { categories } from "@lib/strapi";

export async function getStaticPaths() {
  const latestCategories = categories.map((item) => { 
    return item.attributes.name.toLowerCase().replace(/ /g, "-");
  }); 

  return latestCategories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

const filterByCategory = nativePosts.filter(
  (post) =>
    post.categories &&
    post.categories.some(
      (postCategory) =>
        postCategory.toLowerCase() === category.replace(/-/g, " ")
    )
);
---

<Base title={category || "Category"}>
  <div class="section pt-[10px]">
    <div class="container">
      <div class={`flex flex-col gap-4 `}>
        <h4 class="max-w-[540px] px-[15px] mx-auto lg:w-[85%] lg:max-w-[85%] text-[#13305a] text-[2rem] font-primary text-center md:text-left font-medium h3 mb-[46px] mt-[50px] capitalize">
          {category}
        </h4>
        {filterByCategory.map((post: Post, i: number) => (
          <div
            class={
              " flex flex-col md:flex-row py-2 max-w-[540px] m-auto  md:max-w-[90%] md:w-[90%] lg:w-[85%] lg:max-w-[85%] sm:w-full items-center"
            }
          >
            <div class="col-12 sm:col-12 md:col-5 flex items-center md:px-[15px] mb-[1rem] md:mb-[0px]">
              {post.imageUrl && (
                <a
                  href={`/${post.slug}/`}
                  class="rounded-2xl block self-center w-full sm:w-full sm:h-full md:h-auto hover:text-primary overflow-hidden group"
                >
                  <img
                    class="group-hover:opacity-[0.9] transition object-cover duration-300 w-full h-[183px] "
                    src={post.imageSmallUrl || "/images/placeholder.png"}
                    width={post.imageSmallWidth}
                    height={post.imageSmallHeight}
                    alt={post.title}
                    fetchpriority={"low"}
                    loading={"lazy"}
                    decoding="async"
                  />
                </a>
              )}
            </div>
            <div class="col-12 sm:col-12 md:col-7 flex flex-col gap-2 md:px-[15px] items-start">
              <a
                href={`/${post.slug}/`}
                class="inline-block text-[18px] font-medium leading-[24px] text-[#13305a] transition duration-300  break-words"
              >
                {post.title}
              </a>
              <a href="#" class="text-[12px] text-[#999999]">
                {post.author}
              </a>
              <p class="text-[14px] text-[#666666] break-words font-normal">
                If you’re planning a trip to Japan for the first time, here are
                some suggestions to help you ...
              </p>
              {/* <p class="text-[#798A92]">
                {removeSpecialChars(
                  post.content?.slice(0, Number(summary_length * 2.5))
                )}
                ...
              </p> */}
              <a
                href={`/${post.slug}/`}
                class="w-[94px] h-[25px] py-1 text-[12px] mt-4 text-white text-center bg-[#00adef] hover:opacity-[0.9] rounded-full"
              >
                Read More
              </a>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</Base>
